*{
    padding: 0;
    margin: 0;
}

html{
    overflow-y: scroll;
}


h1,h2,h3,h4,h5,p{
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    margin-bottom: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
}
#raum{
    width:100%;
}

#seite{
    background-color: #fff;
    width:960px;
    margin: 2em auto;
}

header{
    height: 120px;
    border-bottom: 1px solid #000000;
}

#inhalt{
    width:440px;
    float:left;
    width:960px;
    margin-top:-20%;
}

footer{
    clear: both;
    background-color: #939393;
    position: fixed;
    width: 100%;
    margin-top: 1100px;
    margin-left:-790px;
    padding:1%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar {
    overflow: hidden;
    font-family: Arial;
    float:right;
    margin-top:-35%;
    margin-bottom: -5%;
  }
  
#suchfeld{
    border-radius: 0.5em;
}
  
  .navbar a {
    float: right;
    font-size: 16px;
    color:#000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color:#000000;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
  }
    
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  

  .dropdown:hover .dropdown-content {
    display: block;
  }

  #table{
    margin-bottom: 10%;
  }

  #headline{
      font-size: 300%;
  }
